@import url(https://fonts.googleapis.com/css?family=Khula:300,400,600);
@font-face {
font-family: BebasNeueRegular;
src: url('font/BebasNeueRegular.otf') format('opentype');
}
@font-face {
font-family: BebasNeueThin;
src: url('font/BebasNeueThin.otf') format('opentype');
}
@font-face {
font-family: BebasNeueLight;
src: url('font/BebasNeueLight.otf') format('opentype');
}

body {
    font-family: Khula;
    font-weight: 300;
    font-size: 14px;
    background-color: #F9F0E0;
}

svg {
    margin: auto;
    padding: 20px;
    display: block;
}

/* Nav menu */
#menuContainer {
    float : right;
    display : inline;
}

circle.marker {
    fill: #F9F0E0;
    stroke: #102542;
    stroke-width: 0.5px;
    cursor: pointer;
}

circle.marker.active {
    fill: #102542;
}


/* Timeline axis*/
.axis path, .axis line {
    fill: none;
    stroke: #102542;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-dasharray: 0.1, 10.15;
}

.axis text {
    font-family: BebasNeueLight;
    font-size: 19px;
}

#timeline circle {
    fill: #102542;
}

/* Timeline text*/
.name {
    font-weight: 400;
}

.eventLines {
    stroke: #F87060;
    stroke-width: 1.5px;
}
