@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600);
@font-face {
font-family: BebasNeueRegular;
src: url('font/BebasNeueRegular.otf') format('opentype');
}
@font-face {
font-family: BebasNeueThin;
src: url('font/BebasNeueThin.otf') format('opentype');
}
@font-face {
font-family: BebasNeueLight;
src: url('font/BebasNeueLight.otf') format('opentype');
}

body {
    font-family: Open Sans;
    font-weight: 300;
    font-size: 14px;
}

svg {
    margin: auto;
    padding: 20px;
    display: block;
}

/* Nav menu */
#menuContainer {
    float : right;
    display : inline;
}

circle.marker {
    fill: white;
    stroke: black;
    stroke-width: 0.5px;
    cursor: pointer;
}

circle.marker.active {
    fill: black;
    stroke: black;
    stroke-width: 0.5px;
}


/* Timeline axis*/
.axis path, .axis line {
    fill: none;
    stroke: red;
    stroke-width: 3;
    stroke-linecap: round;
    stroke-dasharray: 0.1, 10.15;
}

.axis text {
    font-family: BebasNeueLight;
    font-size: 18px;
}

#timeline circle {
    fill: red;
}

/* Timeline text*/
.name {
    font-weight: 400;
}
