
@font-face {
font-family: BebasNeueRegular;
src: url('font/BebasNeueRegular.otf') format('opentype');
}
@font-face {
font-family: BebasNeueThin;
src: url('font/BebasNeueThin.otf') format('opentype');
}
@font-face {
font-family: BebasNeueLight;
src: url('font/BebasNeueLight.otf') format('opentype');
}

#timeline {
    margin : 10px;
    padding : 20px;
}

.axis path, .axis line {
    fill: none;
    stroke: red;
    stroke-width: 3;
    stroke-linecap: round;
    stroke-dasharray: 0.1, 10.15;
}

.axis text {
    font-family: BebasNeueLight;
    font-size: 18px;
}

#timeline circle {
    fill : red;
}
